/* this a comment  */

body {
    background-color: black;
    font-family: "Gill Sans", sans-serif;
    color: white;
    /*text-align: center;*/
}

h1 {
    font-family: Optima, serif;
}

/* # is for id */
#container {
    margin: 100px auto;
    /*width: 600px;*/
    min-width: 400px;
    max-width: 600px;
}

/* . is for class */
img.link {
    /*width: 200px;*/
    width: 100%;
    border: 4mm ridge rgba(211, 220, 50, .6);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}